/* CSS utilise pour la page principale du site sur ordinateur*/

html {
	width:100%;
	height:100%;
}

body {
	font-family:Helvetica,arial,sans serif;
	position:relative;
	background-color:#EEEEEE;
	width:100%;
	min-height:100%;
	margin:0;
	padding:0;
}

section.head{
	text-align:center;
	width:100%;
	background-color:#3F51B5;
	margin:0;
	padding:0;

}

#userpanel li>a:hover,.smallnav a:hover,.top_menu a:hover {
 color:#eaebec!important
}

.co:hover{
	color:black;
}

.co {
	color: white;
}

#userpanel{
	background-color:#3F51B5;
	height:2px;
	box-sizing: content-box;
	display: block;
	float: none;
	line-height: 17px;
	position: absolute;
	z-index: 2;
}

div.titlebar{
	height:100px;
	display:block;
}

div.greybar{
	height:10px;
	float:left;
	display:inline-block;
	width:50%;
	background-color:#C0C0C0;
}
div.blackbar{
	height:10px;
	display:inline-block;
	float:right;
	width:50%;
	background-color:#696969;
}

p.logo{
	display:inline-block;
	background-color:transparent;
	height:15%;
}

nav a, footer a{
	background-color:#607D8B;
	color:white;
	text-decoration:none;
	padding-left:12px;
	padding-right:12px;
	padding-bottom:20px;
	padding-top:16px;
	font-weight:bold;
}

nav a:hover,footer a:hover{
	background-color:#9E9E9E;
	border-radius: 20px;
}

nav {
	background-color:#607D8B;
	color:white;
}
h2 {
	color: white;
	text-align:center;
	display:inline-block;
}
ul.nav1,ul.footer{
	padding-left:15%;
	display:inline-block;
}
ul.nav2{
	padding: 0px;
	display:inline-block;
}
ul{
	display:inline-block;
}
li {
	color: black;
	display:block;
	float: left;
	padding-right:5px;
}

p {
	margin:0;
	padding:0;
}

p.pres {
	text-align:justify;
}

p.thumb {
	text-align:center;
	display:inline-block;
	background-color:transparent;
	width:19.4%;
	height:14%;
}

p img {
	width:100%;
	height:100%;
}
section.centre{
	display:inline-block;
	width:60%;
	padding-left:1%;
	padding-right:1%;
	margin-bottom:5%;
}

hr{
	color:rgb(215,215,215);
}

h3{
	text-align:center;
}

a{
	text-decoration:none;
	color:black;
}

footer {
	background-color:#607D8B;
	color:white;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
}
 form{display:inline;}